[submodule "Machine Learning/deep_learning/Recurrent Neural Networks/iasr-project"]
	path = Machine Learning/deep_learning/Recurrent Neural Networks/iasr-project
	url = https://github.com/WronaPatryk/iasr-project.git
